<footer class="border-top footer text-muted">
    <div class="container">
        <div class="sec aboutus">
            <h2>About Us</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse bibendum nibh ac enim venenatis vestibulum.
                Pellentesque dui quam, cursus vitae aliquet vel, vulputate ac arcu.
                Aenean a odio non ligula tristique mollis.
                Sed eu dolor sagittis, vehicula enim et, mattis purus.
            </p>
            <ul class="sci">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms & Consitions</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <span>
                        123 Street <br />
                        São Paulo, SP, <br /> BR
                    </span>
                </li>
                <li>
                    <span><i class="fas fa-phone-alt"></i></span>
                    <p>
                        <a href="tel:5511912345678">+55 11 91234-5678</a><br />
                        <a href="tel:5511912345678">+55 11 91234-5678</a>
                    </p>
                </li>
                <li>
                    <span><i class="fas fa-envelope"></i></span>
                    <p><a href="mailto:knowmore@email.com">knowmore@email.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrightText">
    <p>Copyright &copy; @System.DateTime.Now.Year Ítallo Rian. All Rights Reserved.</p>
</div>